<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

# SC12x

## Statistical Analysis

## 개요

여러분은 코스 수료를 마치고 CodeStates에 DS CA (Coaching  Assistant)로 합류했습니다.

여러분에게 주어진 메인 태스크는 세션 및 수강생 핸들링이지만. 

시간을 짜내어 사이드 프로젝트를 하고 싶어졌습니다.

AIB 팀원들과의 커피타임을 통해 수강생 데이터를 하나 받을 수 있었습니다.

> 기수별 학생들 성취도 데이터인데, 어떤 의미가 있는지 확인해주세요.

### Data Description

- F1 : `N`, `D`
- F2 : `Y`, `N`
- F3 : `A`, `B`, `C`, `D` (기수)
- F4 : Continuous
- F5 : Continuous
- F6 : `A` ~ `H`
- F7 : Continuous
- F8 : `X`, `Y`, `Z`
- F9 : `Y`, `N`

## 1. 다음 링크를 참조하여 데이터를 불러오세요. 

<https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/sc12x/csdata.csv>

이후 간단한 전처리를 하세요.

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import os

In [2]:
# unnamed: 0 삭제
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/sc12x/csdata.csv", index_col=0)
df

    F1 F2 F3        F4        F5 F6   F7 F8 F9
1    N  N  A  2.239542  0.773708  H  3.0  Y  Y
2    D  N  A  1.608900  0.133612  H  3.0  X  Y
3    N  N  A  2.544409  0.721873  H  8.0  Y  Y
4    N  Y  A  0.782857  0.259751  F  9.0  Y  N
5    N  N  A  1.532721  0.283534  E  4.0  Z  Y
..  .. .. ..       ...       ... ..  ... .. ..
196  N  N  D  2.765327  0.753814  G  5.0  X  Y
197  N  Y  D  3.098499  0.637145  G  2.0  Y  Y
198  N  N  D  1.613861  0.882830  F  2.0  Z  Y
199  N  N  d  3.003789  0.892767  G  4.0  Z  Y
200  N  N  D  2.468083  0.121094  G  5.0  X  N

[200 rows x 9 columns]

In [3]:
# 결측치 0으로 대체
df = df.fillna(0)

In [4]:
# 소문자 대문자로 변경
df['F3'] = df['F3'].str.upper()

## 2. **F3**에 따라서 다른 Feature들이 어떤 경향을 나타내는지 해석해보세요.

- categorical feature의 경우 crosstab을 사용하여 [contingency tables](https://en.wikipedia.org/wiki/Contingency_table)과 chi-square를 시도해 볼 수 있습니다.

- continuous feature의 경우 여러 시각화와 t-test를 할 수 있을 겁니다.

- 이를 바탕으로 **가장 유의미한** 그리고 **가장 무의미한** feature를 찾아보세요.

여기서 여러분들의 목표는 

`F3`에 따라서 다른 feature들이 영향이 있는지 없는지를 알아보는 

**가설검정** 입니다.

따라서 데이터 탐색 및 시각화 작업에 너무 많은 시간을 쏟지 마세요. 이것은 사이드 프로젝트 입니다.

In [39]:
# Fn / F1
df_F1 = pd.crosstab(df.F1, df.F3)
df_F2 = pd.crosstab(df.F2, df.F3)
df_F4 = pd.crosstab(df.F4, df.F3)
df_F5 = pd.crosstab(df.F5, df.F3)
df_F6 = pd.crosstab(df.F6, df.F3)
df_F7 = pd.crosstab(df.F7, df.F3)
df_F8 = pd.crosstab(df.F8, df.F3)
df_F9 = pd.crosstab(df.F9, df.F3)

print('F1', "\n", df_F1, "\n")
print('F2', "\n", df_F2, "\n")
print('F4', "\n", df_F4, "\n")
print('F5', "\n", df_F5, "\n")
print('F6', "\n", df_F6, "\n")
print('F7', "\n", df_F7, "\n")
print('F8', "\n", df_F8, "\n")
print('F9', "\n", df_F9, "\n")

F1
 F3   A   B   C   D
F1
D    6   9  10  11
N   44  41  40  39

F2
 F3   A   B   C   D
F2
0    1   3   3   2
N   45  44  42  47
Y    4   3   5   1

F4
 F3        A  B  C  D
F4
0.022079  1  0  0  0
0.034939  1  0  0  0
0.089625  1  0  0  0
0.090995  1  0  0  0
0.122672  1  0  0  0
...      .. .. .. ..
4.648469  0  0  1  0
4.711086  0  1  0  0
4.855501  0  1  0  0
5.097375  0  0  1  0
5.868967  0  0  1  0

[200 rows x 4 columns]

F5
 F3        A  B  C   D
F5
0.000000  5  8  7  10
0.010212  0  1  0   0
0.027311  0  0  1   0
0.036056  0  1  0   0
0.036873  0  1  0   0
...      .. .. ..  ..
0.979457  1  0  0   0
0.982460  0  0  0   1
0.987940  0  1  0   0
0.992745  0  0  1   0
0.993412  1  0  0   0

[171 rows x 4 columns]

F6
 F3   A   B   C   D
F6
B    0   1   0   0
C    1   1   1   2
D    2   2   1   1
E    5   4   5   4
F    9  15   9   5
G   10  12  14  13
H   23  15  20  25

F7
 F3     A   B   C   D
F7
0.0    1   2   1   1
1.0    1   0   0   0
2.0    2   6   3   3
3.0    9  10   5  11
4.0    8   7  13   8
5.0   11   8   9   8
6.0    8   5  13   9
7.0    4   6   4   2
8.0    2   4   0   4
9.0    4   0   1   4
10.0   0   1   1   0
11.0   0   1   0   0

F8
 F3   A   B   C   D
F8
X    9   7  15  12
Y   27  28  21  23
Z   14  15  14  15

F9
 F3   A   B   C   D
F9
N   26  28  28  29
Y   24  22  22  21

In [46]:
# F3, F6을 기준으로 색인
df.groupby([df['F3'], df['F6']]).mean()
# df_sample1.mean().unstack()

             F4        F5        F7
F3 F6
A  C   1.065243  0.790119  3.000000
   D   0.300367  0.321710  7.000000
   E   1.504361  0.369172  4.000000
   F   2.148163  0.361013  5.444444
   G   1.301677  0.363035  5.000000
   H   1.711490  0.529757  4.826087
B  B   3.394451  0.291642  3.000000
   C   3.431646  0.000000  3.000000
   D   3.661562  0.781798  5.000000
   E   3.069706  0.568220  3.500000
   F   2.195512  0.425874  4.866667
   G   2.541204  0.401595  4.750000
   H   2.555307  0.361200  5.000000
C  C   4.546454  0.955932  4.000000
   D   3.278679  0.936202  4.000000
   E   2.791570  0.509823  4.000000
   F   3.185398  0.405593  4.888889
   G   3.608615  0.532217  5.142857
   H   3.308719  0.298980  4.950000
D  C   3.071410  0.312670  3.500000
   D   3.472328  0.978721  3.000000
   E   2.486332  0.230659  5.750000
   F   2.523837  0.525752  4.400000
   G   2.570601  0.447667  4.846154
   H   2.427995  0.377785  5.160000

## 3. 분석한 내용들을 설명하는 리포트를 작성해보세요. 

분석의 끝은 결국 설명입니다.

통계 분석에 대한 이해도가 적은 다른 크루들이 이해 할 수 있도록 

분석한 내용들을 설명하는 리포트를 작성해보세요. 

필요한 경우 코드 / 텍스트 내용을 더 추가해도 좋습니다.

In [7]:
# 이 곳에 답안을 작성하시기 바랍니다

## SC 3점 요구사항:

위에서 요구된 사항들을 모두 정확하게 만족하고, 시간이 남았다면 아래 내용을 충족하는 경우 3점을 얻을 수 있습니다. 

아래 요구사항들 중 하나의 요구사항만 충족하면 되며, 모두 **optional** 임을 다시 한 번 강조합니다. (필수 요구사항이 아닙니다.)

- Numerical 데이터에 대해서 normalize를 한 다음, 위에서 진행 했었던 분석을 다시 시행해보세요. (F4, F5, F7 vs F3)

- Categorical 데이터를 one-hot encoding을 통해서 numerical 로 변환 후, 위에서 진행 했었던 분석을 다시 시행해보세요. (F1, F2, F6, F8, F9 vs F3)

In [8]:
# 이 곳에 답안을 작성하시기 바랍니다